<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bower_components/jasmine/lib/jasmine-core/jasmine.css">
   <!--  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/global.css"> -->
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="/bower_components/jasmine-core/lib/jasmine-core/jasmine.js"></script>
  <script type="text/javascript" src="/bower_components/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
  <script type="text/javascript" src="/bower_components/jasmine-core/lib/jasmine-core/boot.js"></script>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/jasmine-jquery/lib/jasmine-jquery.js"></script>

  <!-- <script type="text/javascript" src='/javascripts/jasmine/indexTest_spec.js'></script> -->
  <!-- <script type="text/javascript" src="/javascripts/commmon.js"></script> -->
  <!-- <script type="text/javascript" src="/javascripts/global.js"></script> -->
  
  <script type="text/javascript" src="/javascripts/purchasingTJJF_new.js"></script>
  <script type="text/javascript" src="/javascripts/jasmine/purchasingTJJF_test_spec.js"></script>
</html>
